body {
    color: #333;
    font: 1em/1.4 Arial,'Helvetica Neue',Helvetica,sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    text-shadow: 2px 2px 0 #fff,2px 2px 0 #000;
}

.invisible {
    visibility: hidden;
}

#header, #footer {
    color: #fff;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0 , .8);
    border: 0 double #ccc;
    text-shadow: 1px 1px 2px #000;
    z-index: 1;
}

#header {
    border-width: 0 0 1px 0;
    box-shadow: 0 1px 5px #333;
    top: 0;
}

#header ul {
    clear: both;
    position: relative;
}

#header ul, #main {
    margin: auto;
    width: 1000px;
}

#header li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}

#header a:link, #footer a:link, #header a:visited, #footer a:visited {
    color: #1bacc4;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}

#logo {
    font-size: 32px;
    text-shadow: 1px 1px #555;
}

#main {
    padding: 70px 0 30px 0;
}

#wrapper {
    position: relative;
    width: 100%;
}

#input {
    float: left;
    width: 49%;
}

#source {
    border: 3px solid #ececec;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-family: monospace;
    height: 28.2rem;
    outline: 0;
    resize: vertical;
    padding: 1rem 1rem 3.5rem;
    width: 100%;
}

#inputButtons {
    margin: 15px auto 40px;
    position: relative;
}

#inputButtons input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    margin: 2px 0;
    text-align: center;
}

#inputButtons label {
    text-shadow: 1px 1px 2px #aaa;
}

#hipit {
    float: right;
}

.btn {
    background: #1bacc4;
    background-image: -webkit-linear-gradient(top, #1bacc4, #178ca0);
    background-image: -moz-linear-gradient(top, #1bacc4, #178ca0);
    background-image: -o-linear-gradient(top, #1bacc4, #178ca0);
    background-image: -ms-linear-gradient(top, #1bacc4, #178ca0);
    background-image: linear-gradient(top, #1bacc4, #178ca0);
    border: 1px solid #1bacc4;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    min-height: 56px;
    padding: 0 20px;
    position: relative;
    text-shadow: -1px -1px 0 #178ca0;
    white-space: nowrap;
}

.btn::before {
    border: 1px solid #ddd;
    border-radius: 4px;
    bottom: -3px;
    content: '';
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: -1;
}

#output {
    box-sizing: border-box;
    float: right;
    padding: 20px;
    width: 50%;
}

#results {
    border: 3px solid #ececec;
    border-radius: 3px;
    font-family: monospace;
    padding: 10px;
}

#meter {
    text-align: center;
}

#footer {
    border-width: 1px 0 0 0;
    bottom: 0;
    box-shadow: 0 -1px 5px #333;
    font-size: .85em;
    padding: 10px;
    text-align: center;
}
